#data {
  width: 40%;
  height: 100vh;
}

#visuals {
  width: 30%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  float: left;
}

#log {
  margin-top: 10px;
  width: 30%;
  height: 100vh;
  float: left;
  margin-top: 10px;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; /* 5px rounded corners */
  background-color: rgb(207, 197, 197);
  padding: 20px;
  margin: 10px;
}

#location-card {
  min-width: 370px;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#move-to-card {
  max-width: 400px;
  position: relative;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#move-card {
  max-width: 168px;
  position: relative;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#motor-switch {
  min-width: 300px;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#all-cards {
  margin-bottom: 10px;
}
body {
  background-color: #dbf9fc;
}
#move-button {
  text-align: center;
}
#message-box {
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
  line-height: 10px;
  height: 80%;
}

#map {
  margin: 10px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#live_control {
  border-radius: 5px; /* 5px rounded corners */
  background-color: rgb(207, 197, 197);
  border-color: rgb(207, 197, 197);
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#viewer {
  margin-left: auto;
  margin-right: auto;
}

#num_users_text {
  text-align: center;
}

.battery:after {
  background-color: #fff;
  border: 2px solid #000;
  content: "";
  display: block;
  height: 16px;
  position: absolute;
  right: -6px;
  top: 6px;
  width: 6px;
}
.battery {
  background-color: #fff;
  border: 2px solid #000;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100px;
}
.battery .battery-level {
  height: 100%;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin:auto;
}