<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/css-toggle-switch@latest/dist/toggle-switch.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div class="content">
      <div id="data" class="container">
        <div class="cards" id="location-card">
          <div style="height: 100px; width: 75%">
            <p id="curr_lat">Current latitude:</p>
            <p id="curr_long">Current longitude:</p>
            <p id="curr_dir">Current direction:</p>
          </div>
          <div style="height: 100px; width: 25%; float: right">
            <img
              src="{{ url_for('static',filename = 'compass-bearing.png') }}"
              width="100"
              height="100"
              style="position: absolute; top: 20; float: right"
            />
            <img
              src="{{ url_for('static',filename = 'compass-boat.png') }}"
              width="100"
              height="100"
              style="position: absolute; top: 20; float: right"
            />
          </div>
        </div>
        <div class="cards" id="move-to-card">
          <label for="lat">New Latitude: </label>
          <input type="text" id="lat" name="lat" />
          <input
            type="radio"
            id="north"
            name="latitude_dir"
            value="North"
            checked
          />
          <label for="north">N</label>
          <input type="radio" id="south" name="latitude_dir" value="South" />
          <label for="south">S</label><br /><br />
          <label for="long">New Longitude:</label>
          <input type="text" id="long" name="long" />
          <input
            type="radio"
            id="west"
            name="longitude_dir"
            value="West"
            checked
          />
          <label for="west">W</label>
          <input type="radio" id="east" name="longitude_dir" value="East" />
          <label for="east">E</label><br /><br />
          <div id="move-button">
            <button type="button" id="move">Move</button>
            <button type="button" id="delete_marker">Delete Marker</button>
          </div>
        </div>
        <div id="map" class="center">
          <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATPf17SuLtopnHbm0XpqFWKYAGL1LxnWE&libraries=&v=weekly"
            async
          ></script>
        </div>
      </div>
      <div id="visuals" class="container">
        <div id="motor-switch" class="switch-toggle switch-candy-blue cards">
          <input id="wave-glider" name="view" type="radio" checked />
          <label for="wave-glider">Wave-Glider</label>
          <input id="heave-plate" name="view" type="radio" />
          <label for="heave-plate">Heave-Plate</label>
          <a></a>
        </div>
        <button type="button" id="live_control">Request Live Control</button>
        <div id="viewer"></div>
        <div class="cards" id="move-card">
          <div>
            <button type="button" id="forward">Forward</button><br /><br />
            <button type="button" id="left">Turn Left</button>
            <button type="button" id="right">Turn Right</button><br /><br />
            <button type="button" id="backward">Backward</button><br /><br />
            <input
              type="range"
              min="0"
              max="100"
              value="50"
              class="slider"
              id="speed"
            />
            <p id="speed_text">Speed: 50%</p>
          </div>
        </div>
      </div>
      <div id="log" class="container">
        <p id="num_users_text">Active Users: 0</p>
        <div id="message-box" class="cards"></div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('script')}}"></script>
  <!-- <script type="module" src="{{url_for('static', filename='script/viewer.js')}}"></script> -->
  <script
    type="text/javascript"
    src="{{url_for('static', filename='./script/Decoder.js')}}"
  ></script>
  <script
    type="text/javascript"
    src="{{url_for('static', filename='./script/YUVCanvas.js')}}"
  ></script>
  <script
    type="text/javascript"
    src="{{url_for('static', filename='./script/Player.js')}}"
  ></script>
</html>
